# Data Scinence Tools and Ecosystem

In [ ]:
introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are
1 python
2 R
3 SQL
4 ML

Some of the commonly used libraries used by Data Scientists include:
1:pandas
2:numpy
3:scikit.learn
4:matplotlib

| ID  | Tool Name      | Description                                           | Primary Use            |
|-----|----------------|-------------------------------------------------------|------------------------|
| 1   | Jupyter        | An open-source web application for creating and sharing documents with live code. | Interactive coding, data analysis, and visualization. |
| 2   | VS Code        | A free code editor by Microsoft with rich extensions and debugging support. | Code editing, debugging, and version control.         |
| 3   | RStudio        | An integrated development environment for R programming. | Statistical computing and graphics using R.          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
# below mentioned expression first multiply then add
(5*5)+5

30

In [13]:
#Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__objectives__
* python 
* R
* SQL
* ML
* Deep learning

## Author
   Qasim